.NavbarContents{
    background: white;
    height: 80px;
    z-index: 3;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 1.2rem;
    width: 100%;
}
.loginButton{
    text-decoration: none;
}
.SignUpButton{
    text-decoration: none;
    color: white;
    font-family: Questrial;
    font-weight: normal;
    font-size: 16px;
    
    
    
}

.navbar-logo{
    cursor: pointer;
    top: 0;
    left: 0;
    width: 124px;
    height:56px;
    
    position: relative;
    background: url('../../Images/logo_fuschia.png');
    background-size: cover;
    z-index: 5;
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(10,auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    text-decoration: none;
    margin-right: 2rem;
}

.nav-links{
    color: black;
    font-family: Questrial;
    font-weight: normal;
    font-size: 16px;
    
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links:hover {
    background-color:#d11f7b;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

.fa-bars{
    color:#d11f7b;

}

.nav-links-mobile{
    display:none;

}
.nav-links-mobile-1{
    display:none;

}
.menu-icon{
    display: none;

}
.nav-linksLogin{
    color: black;
    color: black;
    font-family: Questrial;
    font-weight: normal;
    font-size: 16px;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin: 10px;
}
.nav-linksLogin:hover{
    background-color:#d11f7b;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

@media screen and (max-width: 960px){
    .nav-linksLogin{
        display: none;
        z-index: -5;
    }
    .NavbarContents{
        position: fixed;
        width: 100%;
    }

    .nav-menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        position: absolute;
        top:61px;
        left:-150%;
        opacity: .25;
        transition: all .5s ease-out;
        transition: all .5s ease-in;
        background: white;
    }

    .nav-menu.active{
        background: white;
        height: 100vh;
        left: 0;
        opacity: 1;
        transition: all .5s ease-out;
        transition: all .5s ease-in;
        z-index: 1;
        
    
    }

    .nav-links{
        text-align: left;
        padding:7%;
        padding-top: 5vh;
        padding-bottom: 5vh;
        width: 82%;
        display: table;
        transition: all .5s ease-out;
        left: 0px;
        
    }


    .nav-links:hover{
        background-color: #d11f7b;
        border-radius: 0;
        text-align: left;
        width: 82%;
        display: table;
        
    }

    .navbar-logo{
        position: absolute;
        top:auto;
        cursor: pointer;
        top: 0;
        left: 20px;
        width: 124px;
         height:56px;
        background: url('../../Images/logo_fuschia.png');
       
        
    }

    .menu-icon{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%,60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times{
        color: #d11f7b;
        font-size: 2rem;


    }
    .list5{
        margin-right: 40px;
    }
    .nav-links-mobile{
      display: block;
      text-align: center;
      padding: 7%;
      padding-top: 2vh;
      padding-bottom: 2vh;
      left:0px;
      margin-right: 40px;
      border-radius: 4px;
      width:100%;
     position: relative;
      background: #d11f7b;;
      text-decoration: none;
      color:white;
      font-size: 1.5rem;
      transition: 250ms;
      border-radius: 100px;
      font-family: Questrial;
    font-weight: normal;
    font-size: 25px;
    text-decoration: none;
    }
    .nav-links-mobile-1{
        text-align: left;
        padding:7%;
        width: 82%;
        padding-top: 5vh;
        padding-bottom: 5vh;
        display: table;
        transition: all .5s ease-out;
        left: 0px;
        text-decoration: none;
        color: black;
    font-family: Questrial;
    font-weight: normal;
    font-size: 16px;
    
    text-decoration: none;
   
      }
    .nav-links-mobile:hover{
        background-color: #d11f7b;
        color: black;
        transition: 250ms;
    border-radius: 100px;
    font-family: Questrial;
    font-weight: normal;
    font-size: 25px;
    text-decoration: none;
 
   }
   .nav-links-mobile-1:hover{
    background-color: #d11f7b;
    color: black;
    transition: 250ms;

}
Button{
    display: none;
}
}

@media screen and (max-height: 380px){
    .nav-linksLogin{
        display: none;
        z-index: -5;
    }
    .NavbarContents{
        position: fixed;
        width: 100%;
    }

    .nav-menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        position: absolute;
        top:61px;
        left:-150%;
        opacity: .25;
        transition: all .5s ease-out;
        transition: all .5s ease-in;
        background: white;
    }

    .nav-menu.active{
        background: white;
        height: 100vh;
        left: 0;
        opacity: 1;
        transition: all .5s ease-out;
        transition: all .5s ease-in;
        z-index: 1;
        
    
    }

    .nav-links{
        text-align: left;
        padding:7%;
        padding-top: 2vh;
        padding-bottom: 2vh;
        width: 82%;
        display: table;
        transition: all .5s ease-out;
        left: 0px;
        
        
    }


    .nav-links:hover{
        background-color: #d11f7b;
        border-radius: 0;
        text-align: left;
        width: 82%;
        display: table;
        
    }

    .navbar-logo{
        position: absolute;
        top:auto;
        cursor: pointer;
        top: 0;
        left: 20px;
        width: 124px;
         height:56px;
        background: url('../../Images/logo_fuschia.png');
        
    }

    .menu-icon{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%,60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times{
        color: #d11f7b;
        font-size: 2rem;


    }
    .nav-links-mobile{
      display: block;
      text-align: center;
      padding: 7%;
      padding-top: 2vh;
      padding-bottom: 2vh;
      left: 7%;
      border-radius: 4px;
      width:82%;
      right: 7%;
     position: relative;
      background: #d11f7b;;
      text-decoration: none;
      color:white;
      font-size: 1.5rem;
      transition: 250ms;
      border-radius: 100px;
      font-family: Questrial;
    font-weight: normal;
    font-size: 16px;
    text-decoration: none;
    }
    .nav-links-mobile-1{
        text-align: left;
        padding:7%;
        width: 82%;
        padding-top: 2vh;
        padding-bottom: 2vh;
        display: table;
        transition: all .5s ease-out;
        left: 0px;
        text-decoration: none;
        color: black;
    font-family: Questrial;
    font-weight: normal;
    font-size: 16px;
    
    text-decoration: none;
   
      }
    .nav-links-mobile:hover{
        background-color: #d11f7b;
        color: black;
        transition: 250ms;
    border-radius: 100px;
    font-family: Questrial;
    font-weight: normal;
    font-size: 25px;
    text-decoration: none;
 
   }
   .nav-links-mobile-1:hover{
    background-color: #d11f7b;
    color: black;
    transition: 250ms;

}
Button{
    display: none;
    
}





}