
.slider{
    
    display: none;
    
}

@media screen and (max-width: 960px){

   
    
    
    .CardTitle{
        color: #d11f7b;
        /* justify-self: start; */
        /* margin-left: 20px; */
        font-size: 25px;
        top: 10px;
        
        z-index: 2;
        position: absolute;
        height: 100px;
        text-decoration: none;
        list-style: none;
    }
    .CardHeading{
        color: rgba(46,53,58,1);
        /* justify-self: start; */
        /* margin-left: 20px; */
        font-size: 20px;
        top: 50px;
        
        position: absolute;
        /* right: 63.6%; */
        /* display:block; */
        /* left:45%; */
        /* right:auto; */
       text-align: center;
        left: auto;
        display: inline-block;
        z-index: 2;
        
        height: 100px;
        text-decoration: none;
        list-style: none;
    }
    .viewMore{
        display:none;
        z-index: 1;
        color: rgba(209,31,123,1);
        font-size: 16px;
        font-family: Mulish;
        text-decoration: none;
        right: 10%;
        text-align: center;
        width: max-content;
        position: absolute;
        top:60px;
        transition: all 0.2s ease-out;
    }
    .viewMore:hover{
        display:none;
        z-index: 1;
        color: rgba(209,31,123,1);
        font-size: 16px;
        font-family: Mulish;
        text-decoration: none;
        right:10%;
        text-align: center;
        width: max-content;
        position: absolute;
        top:60px;
       
        background-color:rgb(211, 218, 218);;
        border-radius: 4px;
        transition: all 0.2s ease-out;
    }
    .ModelName{
        color: rgba(209,31,123,1);
         list-style: none;
        font-size: 16px;
        font-family: Mulish;
        font-weight: Bold;
      margin-top: 10px;
        grid-template-columns: repeat(4,auto);
        grid-gap: 10px;
        list-style: none;
        text-align: center;
        width: 100%;
        text-decoration: none;
        /* margin-right: 2rem; */
        z-index: 3;
        list-style: none;
    
        left: auto;
        right: auto;
        top: 255px;
        position: absolute;
        display: flex;
        align-content: center;
        justify-content: center;
        
    }
    
    .ModelImg{
        width: 250px;
        height:300px;
        position: relative;
        left:auto;
        right: auto;
        top: 50px;
        margin: 15px;
        z-index: 3;
        list-style: none;
        transition: all .2s ease-out;
            transition: all .1s ease-in;
    }
    .ModelImg:hover{
        width: 250px;
        height:300px;
        position: relative;
        left:auto;
        right: auto;
        top: 50px;
        margin: 15px;
        z-index: 2;
        /* background-color: rgb(211, 218, 218); */
        transition: all .2s ease-out;
            transition: all .2s ease-in;
    }
    .ModelPic0{
        width:250px;
        height: 250px;
        background: url('../../Images/pexels-grisha-chernigowsky-2120097.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        
        
        top:500px;
    }
    /* .ModelPic0:hover{
        width:200px;
        height: 200px;
        background: url('../../Images/pexels-grisha-chernigowsky-2120097.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        left: auto;
        right: auto;
        top:500px;
        
       
        background-color: #a82f6e;
        border-radius: 0;
        text-align: center;
        padding-top: 10px;
        
        display: grid;
    } */
    .ModelPic1{
        width:250px;
        height: 250px;
        background: url('../../Images/pexels-murat-esibatir-4355346.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        left: auto;
        right: auto;
        top:500px;
    }
    .ModelPic2{
        width:250px;
        height: 250px;
        background: url('../../Images/pexels-cottonbro-3419694.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        left: auto;
        right: auto;
        top:450px;
    }
    .ModelPic3{
        width:250px;
        height: 250px;
        background: url('../../Images/runwayPhoto.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        left: auto;
        right: auto;
        top:500px;
    }
.slider{

    position: relative;
    height: 400px;
    display: flex;
    margin-top: 175px;
    justify-content: center;
    align-items: center;
}

/* .ModelImg{
    width: 1000px;
    height: 600px;
    border-radius: 10px;
} */

.right-arrow{
    position: absolute;
    top: 50%;
    right:32px;
    font-size:3rem;
    /* color:black; */
    cursor: pointer;
    user-select: none;
    background-image: url('../../Images/right-arrow-tappable_icon.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 18px;
    height: 30px;
    
}

.left-arrow{
    position: absolute;
    top: 50%;
    left:32px;
    font-size:3rem;
    /* color:black; */
    cursor: pointer;
    user-select: none;
    background-image: url('../../Images/left-arrow-tappable_icon.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 18px;
    height: 30px;
}

.slide{
    opacity: 0;
    transition-duration:1s ease;
  }
  
  .slide.active{
    opacity: 1;
    transition-duration:1s;
    transform: scale(1.08);
  }
}

@media screen and (max-width: 380px){

   
    
    
    .CardTitle{
        color: #d11f7b;
        /* justify-self: start; */
        /* margin-left: 20px; */
        font-size: 25px;
        top: 10px;
        
        z-index: 2;
        position: absolute;
        height: 100px;
        text-decoration: none;
        list-style: none;
    }
    .CardHeading{
        color: rgba(46,53,58,1);
        /* justify-self: start; */
        /* margin-left: 20px; */
        font-size: 20px;
        top: 50px;
        
        position: absolute;
        /* right: 63.6%; */
        /* display:block; */
        /* left:45%; */
        /* right:auto; */
       text-align: center;
        left: auto;
        display: inline-block;
        z-index: 2;
        
        height: 50px;
        text-decoration: none;
        list-style: none;
    }
    .viewMore{
        display:none;
        z-index: 1;
        color: rgba(209,31,123,1);
        font-size: 16px;
        font-family: Mulish;
        text-decoration: none;
        right: 10%;
        text-align: center;
        width: max-content;
        position: absolute;
        top:60px;
        transition: all 0.2s ease-out;
    }
    .viewMore:hover{
        display:none;
        z-index: 1;
        color: rgba(209,31,123,1);
        font-size: 16px;
        font-family: Mulish;
        text-decoration: none;
        right:10%;
        text-align: center;
        width: max-content;
        position: absolute;
        top:60px;
       
        background-color:rgb(211, 218, 218);;
        border-radius: 4px;
        transition: all 0.2s ease-out;
    }
    .ModelName{
        color: rgba(209,31,123,1);
         list-style: none;
        font-size: 16px;
        font-family: Mulish;
        font-weight: Bold;
      margin-top: 10px;
        grid-template-columns: repeat(4,auto);
        grid-gap: 10px;
        list-style: none;
        text-align: center;
        width: 100%;
        text-decoration: none;
        /* margin-right: 2rem; */
        z-index: 3;
        list-style: none;
    
        left: auto;
        right: auto;
        top: 255px;
        position: absolute;
        display: flex;
        align-content: center;
        justify-content: center;
        
    }
    
    .ModelImg{
        width: 250px;
        height:300px;
        position: relative;
        left:auto;
        right: auto;
        top: 70px;
        margin: 15px;
        z-index: 3;
        list-style: none;
        transition: all .2s ease-out;
            transition: all .1s ease-in;
    }
    .ModelImg:hover{
        width: 250px;
        height:300px;
        position: relative;
        left:auto;
        right: auto;
        top: 70px;
        margin: 15px;
        z-index: 2;
        background-color: white;
        transition: all .2s ease-out;
            transition: all .2s ease-in;
    }
    .ModelPic0{
        width:250px;
        height: 250px;
        background: url('../../Images/pexels-grisha-chernigowsky-2120097.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        
        
        top:520px;
    }
    /* .ModelPic0:hover{
        width:200px;
        height: 200px;
        background: url('../../Images/pexels-grisha-chernigowsky-2120097.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        left: auto;
        right: auto;
        top:500px;
        
       
        background-color: #a82f6e;
        border-radius: 0;
        text-align: center;
        padding-top: 10px;
        
        display: grid;
    } */
    .ModelPic1{
        width:250px;
        height: 250px;
        background: url('../../Images/pexels-murat-esibatir-4355346.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        left: auto;
        right: auto;
        top:520px;
    }
    .ModelPic2{
        width:250px;
        height: 250px;
        background: url('../../Images/pexels-cottonbro-3419694.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        left: auto;
        right: auto;
        top:470px;
    }
    .ModelPic3{
        width:250px;
        height: 250px;
        background: url('../../Images/runwayPhoto.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        left: auto;
        right: auto;
        top:520px;
    }
.slider{

    position: relative;
    height: 400px;
    display: flex;
    margin-top: 175px;
    justify-content: center;
    align-items: center;
    top: 50px;
}

/* .ModelImg{
    width: 1000px;
    height: 600px;
    border-radius: 10px;
} */

.right-arrow{
    position: absolute;
    top: 57.5%;
    right:16px;
    font-size:3rem;
    /* color:black; */
    cursor: pointer;
    user-select: none;
    background-image: url('../../Images/right-arrow-tappable_icon.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 18px;
    height: 30px;
    
}

.left-arrow{
    position: absolute;
    top: 57.5%;
    left:16px;
    font-size:3rem;
    /* color:black; */
    cursor: pointer;
    user-select: none;
    background-image: url('../../Images/left-arrow-tappable_icon.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 18px;
    height: 30px;
}

.slide{
    opacity: 0;
    transition-duration:1s ease;
  }
  
  .slide.active{
    opacity: 1;
    transition-duration:1s;
    transform: scale(1.08);
    top: 20px;
  }
}



