* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
    .SignUpHeader{
      display: block;
      position: relative;
      font-family: Mulish;
      text-align: center;
      font-size: 30px;
      font-weight: bold;
      
  
    }
    .signUpError{
      
      width: 600px;
      height: 5vh;
      color:black;
      
      font-family: Questrial;
      font-weight: normal;
      font-size: 16px;
      border-color:rgb(0, 0, 0);
      opacity: 1;
      border-style: solid;
      border-radius: 5px;
      background-color: rgba(255, 0, 43, 0.26);
     
      border-width:2px;
      margin-bottom: 15px;
      text-indent: 5px;
      
     
    }
    .noError{
      display: none;
    }
    
    .SignUpForm{
      display: block;
      position: relative;
      text-align: center;
      align-items: center;
     width: 100%;
     top: 2%;
     display: flex;
    flex-direction: column;
    
    }
    .username{
      width: 600px;
      height: 5vh;
      color:black;
      
      font-family: Questrial;
      font-weight: normal;
      font-size: 16px;
      border-color:#D11F7B;
      opacity: 1;
      border-style: solid;
      border-radius: 5px;
      border-width:2px;
      margin-bottom: 15px;
      text-indent: 5px;
      
    }
   
    
    .email{
      width: 600px;
      height: 5vh;
      color: black;
      font-family: Questrial;
      font-weight: normal;
      font-size: 16px;
      border-color:#D11F7B;
      opacity: 1;
      border-style: solid;
      border-radius: 5px;
      border-width:2px;
      margin-bottom: 15px;
      text-indent: 5px;
      
    }
    .pword{
      width: 600px;
      height: 5vh;
      color: black;
      font-family: Questrial;
      font-weight: normal;
      font-size: 16px;
      border-color:#D11F7B;
      opacity: 1;
      border-style: solid;
      border-radius: 5px;
      margin-bottom: 15px;
      text-indent: 5px;
      
    }
    .confirmPword{
      width: 600px;
      height: 5vh;
      color: black;
      font-family: Questrial;
      font-weight: normal;
      font-size: 16px;
      border-color:#D11F7B;
      opacity: 1;
      border-style: solid;
      border-radius: 5px;
      border-width: 2px;
      margin-bottom: 15px;
      text-indent: 5px;
    }
    .resetPassword{
      margin-top: 5%;  

      width: 600px;
      overflow: visible;
      display: flex;
      flex-direction: row;
      justify-content:center;
      align-items: center;
      position: relative;
      
    }
    .terms{
      width: 4%;
      height: 5vh;
      padding: 1rem;
      color: rgba(103,103,103,1);
      font-family: Questrial;
      font-weight: normal;
      font-size: 16px;
      border-color:rgba(103,103,103,1);
      opacity: .5;
      border-style: solid;
      border-radius: 7px;
      border-width:1px;
      left: 0%;
  
     
      
      
    }
    .termsCheck{
      display: block;
      position: relative;
      margin: auto;
      cursor: pointer;
      font-size: 20px;
    }
  
    input[type=checkbox] {
      visibility: hidden;
  }
  .termsStyle {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 7px;
    border-color:rgba(103,103,103,1);
    border-style: solid;
    border-radius: 7px;
    border-width:1px;
  }
  .termsCheck input:checked ~ .termsStyle {
    background-color: #D11F7B;
    opacity: 1;
  }
  .termsCheck input:checked ~ .termsStyle:after {
    display: block;
    background-color: #D11F7B;
  }
  .termsCheck input:active ~ .termsStyle {
    background-color: #D11F7B;
    opacity: 1;
  }
  .termsStyle:after {
    content: "";
    position: absolute;
    display: none;
    
  }
  .termsCheck .termsStyle:after {
    left: 8px;
    bottom: 5px;
    width: 6px;
    height: 12px;
    border: solid rgb(0, 0, 0);
    border-width: 0 4px 4px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
    .guestLabel{
      text-decoration: none;
      width: 600px;
    
    }
    .orDiv{
      width: 600px;
      color: rgba(103,103,103,1);
      position: relative;
      overflow: hidden;
      margin-top: 30px;
    }
    .noAccount{
        text-decoration: none;
      margin-top: 30px;
      width: 600px;
      font-family: Questrial;
      font-size: 18px;
      color: rgba(103,103,103,1);
    }
    .loginURL{
      font-family: Questrial;
      font-size: 18px;
      color:#D11F7B;
      
    }
    .signUpLink{
        text-decoration: none;
    }
    .guestButton{
      margin-top: 5%;
      border-bottom-color: #D11F7B;
      cursor: pointer;
      width: 600px;
      text-align: center;
      display: block;
      text-decoration: none;
      background-color:white;
      padding: 8px;
      border-radius: 50px;
      border-color: #D11F7B;
      font-size: 20px;
      text-align: center;
      align-items: center;
      
     color: #D11F7B;
      font-family: Questrial;
      font-weight:550;
      
    }
    .guestButton:hover{
      background-color:#D11F7B;
      border-color: #D11F7B;
      color: #fff;
    }
  .agree{
    font-family: Questrial;
      font-weight: normal;
      font-size: 20px;
      color:#676767;
      opacity: 1;
      padding-left: 50px;
      
  }
  .termsOfUse{
    font-family: Questrial;
      font-weight: normal;
      font-size: 20px;
      color:#D11F7B;
      opacity: 1;
      padding: 5px;
  }
  .and{
    font-family: Questrial;
      font-weight: normal;
      font-size: 20px;
      color:#676767;
      opacity: 1;
      padding:2px;
  }
  .privacyPolicy{
    font-family: Questrial;
    font-weight: normal;
    font-size: 20px;
    color:#D11F7B;
    opacity: 1;
    padding: 5px;
  }
  .signUpLabel{
    text-decoration: none;
    width: 600px;
    
  }
  .registerButton{
    margin-top: 15px;
    
    cursor: pointer;
    width: 600px;
    text-align: center;
    display: block;
    text-decoration: none;
    background-color:#D11F7B;
    padding: 8px;
    border-radius: 50px;
    border-color: #D11F7B;
    font-size: 20px;
    text-align: center;
    align-items: center;
    color: #fff;
    font-family: Questrial;
    font-weight:550;
    
  }
  .registerButton:hover{
    background-color:black;
    border-color: black;
    
  }
    .SignUpBody{
        position: absolute;
        top: 10%;
        left: 25%;
        right: 25%;
        bottom:10%;
        display: block;
    }
    .v130_1582 {
      width: 100%;
      height: 1145px;
      background: rgba(255,255,255,1);
      opacity: 1;
      position: absolute;
      top: 0px;
      left: 0px;
      overflow: hidden;
    }
    .orDivMobile{
      display: none;
    }
    @media screen and (max-width: 700px){
      .SignUpHeader{
        display: block;
        position: relative;
        font-family: Mulish;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
    
      }
    
      .SignUpForm{
        display: block;
        position: relative;
        text-align: center;
        align-items: center;
       width: 100%;
       top: 10%;
       display: flex;
      flex-direction: column;
      
      
      }
      .signUpError{
      
        width: 300px;
        height: 5vh;
        color:black;
        
        font-family: Questrial;
        font-weight: normal;
        font-size: 12px;
        
        border-color:rgb(0, 0, 0);
        opacity: 1;
        border-style: solid;
        border-radius: 5px;
        background-color: rgba(255, 0, 43, 0.26);
       
        border-width:2px;
        margin-bottom: 15px;
        text-indent: 5px;
        
       
      }
      
      .noError{
        display: none;
      }
      .username{
        width: 300px;
        height: 5vh;
        color: black;
        font-family: Questrial;
        font-weight: normal;
        font-size: 16px;
        border-color:#D11F7B;
        opacity: 1;
        border-style: solid;
        border-radius: 5px;
        border-width:2px;
        margin-bottom: 15px;
        text-indent: 5px;
        
      }
      
      .email{
        width: 300px;
        height: 5vh;
        color: black;
        font-family: Questrial;
        font-weight: normal;
        font-size: 16px;
        border-color:#D11F7B;
        opacity: 1;
        border-style: solid;
        border-radius: 5px;
        border-width:2px;
        margin-bottom: 15px;
        text-indent: 5px;
        
      }
      .pword{
        width: 300px;
        height: 5vh;
        color: black;
        font-family: Questrial;
        font-weight: normal;
        font-size: 16px;
        border-color:#D11F7B;
        opacity: 1;
        border-style: solid;
        border-radius: 5px;
        border: width 2px;
        margin-bottom: 15px;
        text-indent: 5px;
        
      }
      .confirmPword{
        width: 300px;
        height: 5vh;
        color: black;
        font-family: Questrial;
        font-weight: normal;
        font-size: 16px;
        border-color:#D11F7B;
        opacity: 1;
        border-style: solid;
        border-radius: 5px;
        border-width: 2px;
        margin-bottom: 15px;
        text-indent: 5px;
      }
      .resetPassword{
        margin-top: 5%;
        width: 350px;
        overflow: visible;
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
        position: relative;
        
      }
      .terms{
        width: 4%;
        height: 5vh;
        padding: 1rem;
        color: rgba(103,103,103,1);
        font-family: Questrial;
        font-weight: normal;
        font-size: 16px;
        border-color:rgba(103,103,103,1);
        opacity: .5;
        border-style: solid;
        border-radius: 7px;
        border-width:1px;
        left: 0%;
       
        
        
      }
      .guestLabel{
        text-decoration: none;
        width: 300px;
      
      }
      .orDiv{
        display: none;
      }
      .orDivMobile{
        display: block;
        width: 300px;
      color: rgba(103,103,103,1);
      position: relative;
      overflow: hidden;
      margin-top: 30px;
      }
      .noAccount{
        text-decoration: none;
        margin-top: 30px;
        width: 600px;
        font-family: Questrial;
        font-size: 12px;
        color: rgba(103,103,103,1);
      }
      .loginURL{
        font-family: Questrial;
        font-size: 12px;
        color:#D11F7B;
      }
      .guestButton{
        margin-top: 5%;
        border-bottom-color: #D11F7B;
        cursor: pointer;
        width: 300px;
        text-align: center;
        display: block;
        text-decoration: none;
        background-color:white;
        padding: 8px;
        border-radius: 50px;
        border-color: #D11F7B;
        font-size: 20px;
        text-align: center;
        align-items: center;
        
       color: #D11F7B;
        font-family: Questrial;
        font-weight:550;
        
      }
      .guestButton:hover{
        background-color:#D11F7B;
        border-color: #D11F7B;
        color: #fff;
      }
    .agree{
      font-family: Questrial;
        font-weight: normal;
        font-size: 12px;
        color:#676767;
        opacity: 1;
        padding-left: 5px;
        
    }
    .termsOfUse{
      font-family: Questrial;
        font-weight: normal;
        font-size: 12px;
        color:#D11F7B;
        opacity: 1;
        padding: 5px;
    }
    .and{
      font-family: Questrial;
        font-weight: normal;
        font-size: 12px;
        border-color:#676767;
        opacity: 1;
        padding:2px;
    }
    .privacyPolicy{
      font-family: Questrial;
      font-weight: normal;
      font-size: 12px;
      color:#D11F7B;
      opacity: 1;
      padding: 5px;
    }
    .signUpLabel{
      text-decoration: none;
      width: 300px;
      
    }
    .registerButton{
      margin-top: 15px;
      
      cursor: pointer;
      width: 300px;
      text-align: center;
      display: block;
      text-decoration: none;
      background-color:#D11F7B;
      padding: 8px;
      
      /* padding-left: 20vw; */
      /* padding: 8px 20px; */
      /* padding-right: 20vw; */
      border-radius: 50px;
      border-color: #D11F7B;
      font-size: 20px;
      text-align: center;
      align-items: center;
      color: #fff;
      font-family: Questrial;
      font-weight:550;
      
    }
    .registerButton:hover{
      background-color:black;
      border-color: black;
      
    }
      .SignUpBody{
          position: absolute;
          margin: auto;
          display: block;
      }
      .v130_1582 {
        width: 100%;
        height: 1145px;
        background: rgba(255,255,255,1);
        opacity: 1;
        position: absolute;
        top: 0px;
        left: 0px;
        overflow: hidden;
      }
  
  
  
    }